.hover-shadow-lg {
    -webkit-box-shadow: 0 1rem 9rem rgba(206, 209, 209, 0.08) !important;
    box-shadow: 0 1rem 9rem rgba(206, 209, 209, 0.08) !important;
}

.table-layout {
    display: block;
    overflow: auto;
}